# Git
.git
.gitignore
.gitattributes

# GitHub
.github
.githubignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Python
__pycache__
*.pyc
*.pyo
*.egg-info
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Project specific
data/
.temp/
*.temp

# Documentation
*.md
